*.qza
*.qzv
*.fastq
*.fastq.gz
*.fq.gz
qiime2/
reads/
results/
manuscript_figures/
classifiers/*.qza
classifiers/*.gz
classifiers/*.fasta
classifiers/*.tsv
logs/
*.log
slurm-*.out
slurm-*.err
__pycache__/
*.pyc
.DS_Store
envs/
sprints/*.docx
file_inventory.csv
*.ckp.gz
*.bionj
*.mldist
*.splits.nex
*.iqtree
*.zip
*.biom
